<!--<button id="writeData" class="btn btn-danger">hello</button>-->
<h1>Employee ManageMent System</h1>
<h2>Here you can perform the following operations</h2>
<ul class="list">
	<li>Add New Employee</li>
	<li>Delete Existing Employee</li>
	<li>Update Information of the Employee</li>
	<li>Search Employee</li>
	<li>Get all the Employee List</li>
</ul>