<table width="100%" border="0" cellpadding="2" cellspacing="2">
                      <tbody><tr valign="top">
                        <td width="15%" height="115" background="../img/head_bg.png" style="background-repeat:no-repeat; padding: 47 0 0 25 "><h3><strong>Benefits</strong></h3></td>
                        <td valign="top" style="padding: 5 0 5 0 "><p><strong>What are the benefits of using Intoweb's Employee Management System?</strong></p>
                            <ul>
                              <li> You can purchase the Recruitment Module as a standalone version - you don't have to buy the entire <strong>Human Resource System</strong></li>
                              <li> The <strong>Human Resource Employee Management System</strong> runs online, which allows you to access any information from anywhere in the world at any given time, as long as you have Internet access. Manage your employees from anywhere </li>
                              <li>The <strong>Employee Management System</strong> is fully integrateable with Intoweb's other <a href="/hr/"><strong>Human Resource Software Modules</strong></a>.</li>
                              <li>The <strong>Employee Management System</strong> is fully customizable to suit the needs of your business. </li>
                          </ul></td>
                      </tr>
                      <tr valign="top">
                        <td width="15%" height="115" background="../img/head_bg.png" style="background-repeat:no-repeat; padding: 47 0 0 25 "><h3><strong>Features</strong></h3></td>
                        <td valign="top" style="padding: 5 0 5 0 "><p><strong>General Features</strong></p>
                          <ul>
                            <li>User friendly system 
                            </li><li>Records employee information 
                            </li><li>Records the current number of employees according to division / department with the automatic updating of figures when people are employed or leave. 
                            </li><li>Keeps records of inactive employees (those not in the company any longer) 
                            </li><li>Employees can update their own details which are sent for managerial authorization before being added to the system 
                            </li><li>Forms the backdrop for the other modules and can be used as a stand-alone module or integrated into other modules eg payroll, leave modules 
                            </li><li>Search facility for easy finding of staff 
                            </li><li>Security rights define the access people have to the information 
                            </li><li>Keeps personnel records such as appraisals, incident reports, employee perks </li>
                          </ul>                          </td>
                      </tr>
                      <tr valign="top">
                        <td height="115" background="../img/head_bg.png" style="background-repeat:no-repeat; padding: 47 0 0 25 "><h3><strong>Related Info </strong></h3></td>
                        <td valign="top" style="padding: 5 0 5 0 "><p><strong>Articles</strong></p>
                          <ul>
                            <li><a href="http://www.hrcentre.co.za/index.php?page=articles_hrdocs" target="_blank" class="orange"><strong>What HR documents a company should keep</strong></a></li>
                            <li><a href="http://www.hrcentre.co.za/index.php?page=articles_employmentequity" target="_blank" class="orange"><strong>Employment equity </strong></a></li>
                            <li> <a href="http://www.hrcentre.co.za/index.php?page=articles_contracts_agreements" target="_blank" class="orange"><strong>Contracts and agreement management </strong></a></li>
                            <li><a href="http://www.hrcentre.co.za/index.php?page=articles_employee_qualifications" target="_blank" class="orange"><strong>Recording and verifying employee qualifications </strong></a></li>
                          </ul>                          
                          <p><strong>Here is a list of some other Intranet Systems you may find useful</strong></p>
                          <ul>
                              <li><a href="/hr/module_induction.php" target="_blank" class="orange">Induction System</a> - Introduce new employees</li>
                              <li><a href="/finances/module_payroll.php" target="_blank" class="orange">Payroll System</a> - Automatically add employees to the payroll system</li>
                              <li><a href="/intranets/feature_tasks.php" target="_blank" class="orange">Task Management System</a> - Assign tasks to your employees </li>
                              <li><a href="/intranets/feature_projects.php" target="_blank" class="orange">Project Management System</a> - Assisgn employees to projects </li>
                              <li><a href="/hr/module_leave.php" target="_blank" class="orange">Leave Management System</a> - Keep record of your employee leave </li>
                              <li> <a href="/intranets/module_attendance.php" target="_blank" class="orange">Time and Attendance</a> - Record time and attendance for the employees</li>
                              <li><a href="/hr/module_appraisal.php" target="_blank" class="orange">Appraisal System</a> - Appraise employees</li>
                              <li><a href="/hr/module_skills.php" target="_blank" class="orange">Skills Development System</a> - Develop the skills of your employees</li>
                              <li><a href="/hr/module_lms.php" target="_blank" class="orange">Learner Management System</a> - Provide courses to your employees </li>
                          </ul></td>
                      </tr>
                      <tr valign="top">
                        <td width="15%" height="115" background="../img/head_bg.png" style="background-repeat:no-repeat; padding: 47 0 0 25 "><h3><strong>Screenshots</strong></h3></td>
                        <td valign="top" style="padding: 5 0 5 0 "><p><strong>Please click on an image below to view the Employee Management System Gallery</strong></p>
                            <table border="0" cellspacing="3" cellpadding="3">
                              <tbody><tr>
                                <td><div align="center"><a href="gallery/employeemng1.jpg" rel="lightbox[gallery]"><img src="gallery/employeemng1_th.jpg" width="284" height="129" border="0"></a></div></td>
                                <td><div align="center"><a href="gallery/employeemng2.jpg" rel="lightbox[gallery]"><img src="gallery/employeemng2_th.jpg" width="284" height="129" border="0"></a></div></td>
                              </tr>
                              <tr>
                                <td><div align="center"><strong>Employee Management Overview </strong></div></td>
                                <td><div align="center"><strong>Employee Information Search </strong></div></td>
                              </tr>
                              <tr>
                                <td><div align="center"><a href="gallery/employeemng3.jpg" rel="lightbox[gallery]"><img src="gallery/employeemng3_th.jpg" width="284" height="128" border="0"></a></div></td>
                                <td><div align="center"><a href="gallery/employeemng4.jpg" rel="lightbox[gallery]"><img src="gallery/employeemng4_th.jpg" width="284" height="128" border="0"></a></div></td>
                              </tr>
                              <tr>
                                <td><div align="center"><strong>Processing Leave (Administrator Only) </strong></div></td>
                                <td><div align="center"><strong>Employee Appraisal System</strong></div></td>
                              </tr>
                              <tr>
                                <td><div align="center"><a href="gallery/employeemng5.jpg" rel="lightbox[gallery]"><img src="gallery/employeemng5_th.jpg" width="284" height="130" border="0"></a></div></td>
                                <td><div align="center"><a href="gallery/employeemng6.jpg" rel="lightbox[gallery]"><img src="gallery/employeemng6_th.jpg" width="284" height="133" border="0"></a></div></td>
                              </tr>
                              <tr>
                                <td><div align="center"><strong>Employee Contact Information</strong></div></td>
                                <td><div align="center"><strong>Employee Work Details </strong></div></td>
                              </tr>
                            </tbody></table>
                            <p>&nbsp;</p></td>
                      </tr>
                    </tbody>
		</table>